.navbar {
    background-color: #000000;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
}

.divNavbarLogo {
    font-size: 1.5rem;
    font-weight: bold;
}

.logo{
    width: 100px;
    height: 100px;
}

.navbarList {
    list-style: none;
    display: flex;
    margin-left: 12rem;
}

.navbarItem {
    font-size: 18px;
    margin-right: 1rem;
    cursor: pointer;
}

.navbar-item:last-child {
    margin-right: 0;
}

.imgCarrito{
    margin-left: 37rem;
    width: 20px;
    height: 20px;
}


.spanStyle{
    font-size: 14px;
    margin-left: 10px;
}
